.Header {
  display: flex;
  justify-content: space-around;
  flex: 0 1 auto;
  padding: 60px 40px;
  /* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
  background: rgba(247, 187, 49, 0.8);
}

.Header__link {
  position: relative;
  font-weight: 600;
  color: white;
  font-size: 40px;
  text-decoration: none;
  user-select: none;
  transition: color 0.1s ease-in-out;
}

.Header__link:hover {
  transition: color 0.1s ease-in-out;
  color: rgb(220, 220, 220);
}

.Header__link::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 7px;
  right: -10px;
}

.Header__link.empty::after {
  background: rgba(255, 74, 74, 0);
  transition: background 0.1s ease-in-out;
}

.Header__link.not-empty::after {
  background: rgb(255, 74, 74);
  transition: background 0.1s ease-in-out;
}